@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blanco: #ece0d1;
  --blanco-oscuro: #dbc1ac;
  --marron-clarito: #967259;
  --marron-claro: #634832;
  --marron: #38220f;
  --negro: #181305;

  --amarillo: #f9e6ad;

  --blanco2: #f1ebe5;
  --blanco-oscuro2: #c9b29a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--blanco-oscuro);
  scroll-behavior: smooth;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.custom-pagination .swiper-pagination-bullet {
  background-color: var(--marron);
  opacity: 0.8;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--blanco-oscuro);
  opacity: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
  opacity: 0.3; /* Más clara si no hay más slides */
  pointer-events: none;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
