@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blanco: #ece0d1;
  --blanco-oscuro: #dbc1ac;
  --marron-clarito: #967259;
  --marron-claro: #634832;
  --marron: #38220f;
  --negro: #181305;

  --amarillo: #f9e6ad;

  --blanco2: #f1ebe5;
  --blanco-oscuro2: #c9b29a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body {
  background: var(--blanco-oscuro);
  scroll-behavior: smooth;
}

.custom-scroll {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: var(--marron) var(--blanco-oscuro); /* Para Firefox */
}

/* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
.custom-scroll::-webkit-scrollbar {
  width: 12px;
  background-color: var(--marron); /* Fondo del scroll */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--blanco-oscuro); /* Barra del scroll */
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--marron-clarito); /* Barra al hacer hover */
}

.custom-scroll::-webkit-scrollbar-thumb:active {
  background-color: var(--marron-claro); /* Barra al hacer click */
}


.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.custom-pagination .swiper-pagination-bullet {
  background-color: var(--marron);
  opacity: 0.8;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--blanco-oscuro);
  opacity: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
  opacity: 0.3; /* Más clara si no hay más slides */
  pointer-events: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.whiteButtonShadow {
  box-shadow: 0px 5px 15px 2px var(--marron);
}

.whiteButtonShadowHover:hover {
  box-shadow: 0px 0px 10px 10px var(--marron);
}

.brownButtonShadow {
  box-shadow: 0px 5px 15px 2px var(--blanco-oscuro);
}

.brownButtonShadowHover:hover {
  box-shadow: 0px 0px 10px 10px var(--blanco-oscuro);
}